
.linkedin-icon {
  color: rgb(67, 154, 230);
  display: flex;
  flex-direction: row;
  width: 5%;
  height: 3vh;
  background-color: rgba(118, 115, 115, 0.647);
  padding: 0.5rem;
  transition: 150ms ease-in-out;
}

.linkedin-icon:hover {
  background-color: rgba(152, 148, 148, 0.647);
  transform: scale(1.2, 1.15);
  margin: 0.2rem 0;
}

.linkedin-button {
  margin-top: 0em;
}

.github-icon {
  color: rgb(61, 81, 99);
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 3vh;
  background-color: rgba(118, 115, 115, 0.647);
  padding: 0.5rem;
  transition: 150ms ease-in-out;
}

.github-icon:hover {
  background-color: rgba(152, 148, 148, 0.647);
  transform: scale(1.2, 1.15);
  margin: 0.2rem 0;
}

.twitter-icon {
  color: rgb(9, 96, 172);
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 3vh;
  background-color: rgba(118, 115, 115, 0.647);
  padding: 0.5rem;
  transition: 150ms ease-in-out;
}

.twitter-icon:hover {
  background-color: rgba(152, 148, 148, 0.647);
  transform: scale(1.2, 1.15);
  margin: 0.2rem 0;
}
